@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
.align-center {
    text-align: center;
}


/*p {
    margin: 0 0 2rem 0;
}*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    line-height: 1.5;
    margin: 0 0 1rem 0;
}

h2 {
    font-size: 1.75rem;
    margin: 1rem 0 0.5rem 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.65;
}

h3 {
    font-family: "Pt Serif", serif;
    color: #202B36;
    font-weight: 700;
    font-size: 30px;
}

.first-block {
    height: 400px;
}

.body-left-box {
    margin: 1%;
    padding: 2%;
    float: left;
    height: 350px;
    width: 40%;
}

.body-left-title {
    border-bottom: 1px solid black;
}

.body-right-box {
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 3%;
    margin-top: 3%;
    float: left;
    width: 40%;
    height: 350px;
}

.top-block {
    color: white;
    background: fixed;
    background-image: url(../img/bg.jpg);
    /*background-color: #FF4B2B;*/
    padding: 4rem 0 1rem 0;
    height: 250px;
}

.top-block p {
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: 500;
    padding: 1.25rem 0 0 0;
    letter-spacing: .25rem;
    color: white;
}

.block-line {
    width: 50%;
    color: grey;
    height: 1px;
}

.get-started-button {
    color: #fff;
    background-color: #000;
    display: inline-block;
    border: none;
    padding: 12px 26px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    font-size: 18px;
}

.features {
    padding: 2%;
    text-align: center;
}

.bottom-box-features-list {
    justify-content: center;
    margin-right: -12px;
    margin-left: -12px;
}

.features-box {
    /*box-sizing: border-box;*/
    float: left;
    position: relative;
    height: 250px;
    margin: 2%;
    padding: 2%;
    width: 20%;
    text-align: center;
    border: 10px solid white;
}

.features-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0px 20px 20px 7px #E3E7EB;
    mix-blend-mode: multiply;
}

h4 {
    text-align: center;
    font-weight: 1000;
}

footer {
    overflow: auto;
    width: 100%;
}

.bottom-box-pricing-list {
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
    text-align: center;
}

.pricing-box {
    /*box-sizing: border-box;*/
    float: left;
    position: relative;
    margin-left: 2%;
    margin-right: 2%;
    padding: 6%;
    height: 200px;
    width: 30%;
    text-align: center;
    border: 10px solid white;
}

.pricing-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0px 20px 20px 7px #E3E7EB;
    mix-blend-mode: multiply;
}

.pricing-box-title {
    color: #FF4B2B;
    font-size: 1.75rem;
}

.price {
    font-weight: bold;
    font-size: 1.75rem;
}

ul.pricing-list {
    list-style-image: url('../img/greenTick.png');
}